.intro-container {
  /* border: 1px solid rgba(255, 55, 55, 0.53); */
  display: flex;
  justify-content: center;
}
.text-section {
  max-width: 40rem;
  place-self: top;
}
.profile-pic {
  height: 15rem;
  margin: 1rem;
}
.intro-container p {
  text-align: center;
  font-size: 18px;
}
@media only screen and (max-width: 500px) {
  .intro-container {
    /* border: 1px solid rgba(255, 55, 55, 0.53); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .text-section {
    max-width: none;
    place-self: top;
    margin-left: 5%;
    margin-right: 5%;
  }

  .profile-pic {
    height: 10rem;
    margin: 1rem;
  }
  .intro-container h2 {
    font-size: 18px;
  }
  .intro-container p {
    font-size: 15px;
  }
}
