.blog-warning {
  display: flex;
  justify-content: center;
}

.blog-item img {
  max-height: 20rem;
  border-radius: 1rem;
}

.blog-container {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.blog-item p,
.blog-item h2 {
  max-width: 40rem;
  color: rgb(89, 161, 161);
  color: white;
}

.blog-item {
  background-color: rgb(255, 255, 255);
  background-color: rgb(54, 54, 54);
  border: 2px solid black;
  padding: 3rem;
  padding-top: 0.2rem;
  border-radius: 1rem;
  max-width: 30rem;
}

.center {
  display: flex;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
  justify-self: center;
  justify-items: center;
}
.comment-container {
  display: flex;
  flex-direction: column;
}
.comment-container textarea {
  height: 5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  resize: none;
  color: black;
}

/* .wip {
  background-color: rgb(28, 66, 46);
  border-radius: 10px;
  display: inline-block;
  padding: 0.5rem;
}
.wip:hover {
  background-color: rgb(21, 53, 36); */
/* } */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.wip {
  background: linear-gradient(
    270deg,
    rgb(28, 66, 46),
    rgb(46, 66, 28),
    rgb(66, 46, 28)
  );
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
  border-radius: 10px;
  display: inline-block;
  padding: 0.5rem;
  border: 0.5px solid rgba(255, 255, 255, 0.182);
}

@media only screen and (max-width: 900px) {
  .blog-container {
    display: flex;
    justify-content: center;
  }
  .blog-item img {
    max-height: 30rem;
  }

  .blog-item {
    max-width: 50rem;
  }
  .blog-container p {
    max-width: 30rem;
    text-align: left;
  }
  main div h1 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 400px) {
  .blog-item img {
    max-height: 20rem;
  }

  .blog-container {
    display: flex;
    justify-content: center;
  }
  .blog-item {
    max-width: 60rem;
  }
  .blog-container p {
    max-width: none;
    text-align: center;
  }
}
