.blog-links li {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  text-align: left;
  padding-left: 1rem;
  list-style: none;
}
.blog-links li a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.507);
}

.blog-links {
  position: sticky;
  top: 10rem;
  width: 100%;
  padding-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.568);
  border-radius: 10px;
}

@media only screen and (max-width: 1050px) {
  .blog-links {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .blog-links {
    display: none;
  }
}
