aside {
  max-width: 15rem;
  min-width: 15rem;

  margin-top: 3rem;
}
#blog-aside-right {
  margin-right: 0px;
}
@media only screen and (max-width: 900px) {
  .blog-holder aside {
    display: none;
  }
}
