.search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  background-color: field;

  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.388);
}

.search-bar button,
.search-bar input {
  height: 2rem;
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
  border-radius: 0;
}
.search-bar input:focus {
  outline-style: none;
  box-shadow: none;
}
.search-bar button {
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.search-bar button:hover {
  border: 1px solid rgba(248, 255, 49, 0.996);
}
.search-bar input {
  font-size: 16px;
}
