.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-container input {
  margin: 1rem;
}

.login-container form {
}
