nav a {
  margin: 3rem;
  font-size: 40px;
  color: beige;
  margin-top: 1rem;
}
nav a:hover {
  color: rgb(255, 106, 106);
}
nav {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
nav,
.nav-container {
  /* border: 1px solid blue; */
}
h2 {
  margin: 0;
  padding: 0;
}
.nav-container {
  margin-top: 0;
  padding: 0;
}
