nav a {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0;
  font-size: 40px;
  color: white;
  margin-top: 0rem;
}
nav a:hover {
  color: rgb(255, 106, 106);
}
nav {
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
  width: 40rem;
  background-color: #333333a6;
  border: 1px solid rgba(255, 255, 255, 0.377);
  border-radius: 25px;
}
.nav-container {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;

  z-index: 1000; /* High z-index to ensure it's above other content */
}
h2 {
  margin: 0;
  padding: 0;
}
.nav-container {
  margin-top: 0;
  padding: 0;
  margin-top: 0;
}
.alvin {
  font-size: 14px;
  display: flex;
  justify-content: right;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: initial;
}
@media only screen and (max-width: 900px) {
  nav a {
    margin: 1rem;
    font-size: 40px;
  }
}
@media only screen and (max-width: 650px) {
  nav a {
    margin: 0.7rem;
    font-size: 25px;
  }
  nav {
    width: 15rem;
  }
}

@media only screen and (max-width: 400px) {
  nav a {
    margin: 0.7rem;
    font-size: 23px;
  }

  nav {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    width: 15rem;
  }
}
@media only screen and (max-width: 380px) {
  nav a {
    margin: 0.5rem;
    font-size: 18px;
    width: 15rem;
  }
}
